@import "@/assets/scss/helpers/variables";

.exception {
  padding-top: 120px;
  background-color: $background-base;
}

.emoji-404{
  position: relative;
  animation: jump-up-down 2.5s infinite;
}

@keyframes jump-up-down {
  33% { top: 0; }
  66% { top: 20px; }
  100% { top: 0 }
}
