@import "@/assets/scss/helpers/mixins";
@import "@/assets/scss/helpers/variables";


.khkfPsJuVBQyL_5cLT7y>:first-child {
  grid-column: 1/-1;
}

.CCi1L2OQvgdZvxkRHeKE {
  margin-top: 32px;
}

.rvvoAdb7aaUPYRasW7sK {
  grid-column: 1/-1;
  margin-top: 16px;
}

.UdXTcsz1eiiInKThkfYp {
  padding: 16px 0;
}

.hWGxHSAKACFWXowXPDTP,
.q8AZzDc_1BumBHZg0tZb {
  grid-column: 1/-1;
}
